body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fef9ef;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*header styles*/
header {
    background: #03256c;
    padding: 15px 25px;
}

header h1 {
    color: #fed766;
    font-size: 35px;
}
/*end header styles*/

/*main content styles*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.hide {
    display: none;
}

#quiztimer {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 2px solid #0496ff;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}

.answer {
    font-size: 20px;
    font-style: italic;
    border-bottom: 2px dashed #fed766;
}

.buttons, .start-button {
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    padding: 10px 25px;
    margin: 10px;
    background: #f865b0;
    border-radius: 10px;
    border: 3px solid #0496ff;
    font-size: 20px;
}

.buttons:hover, .start-button:hover {
    border: 3px solid #03256c;
}

.highscore {
    display: flex;
    flex-direction: column;
    border: 4px solid #0496ff;
    align-items: center;
    justify-content: center;
}
/*end main content styles*/

/*footer styles*/
footer {
    background: #03256c;
    color: #fed766;
    padding: 10px 20px;
    font-size: 25px;
}
/*end footer styles*/